#if ($object.label && $object.label.length() > 0)<a name="$object.label"></a>#end
#set ($style = $object.style.toString())
#if ($style == "BULLETS")
<ul>
~<object.children>~
</ul>
#end
#if ($style == "NUMBERS")
<ol>
~<object.children>~
</ol>
#end
#if ($style == "DESCRIPTIONS")
<dl>
~<object.children>~
</dl>
#end