<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
--> 
<html>
	<head>
		<title>~<object.title>~</title>
		<meta name="keywords" content="YouTestIt, you test it,open source, ui coverage, test, acceptance testing,software quality, selenium, bromine,continuous integration,smile,smile.fr" /> 
		<meta name="description" content="YouTestIt is an open source project that aims to check the quality and acceptantce of your projects" />

       	<link href="default.css" rel="stylesheet" type="text/css">
		<link type="text/css" rel="stylesheet" href="syntaxHighlighter/styles/shCoreDefault.css"/>    
	    
	    <script type="text/javascript" src="script.js"></script>
	    <script type="text/javascript" src="syntaxHighlighter/scripts/shCore.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushAppleScript.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushAS3.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushBash.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushColdFusion.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushCpp.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushCSharp.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushCss.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushDelphi.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushDiff.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushErlang.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushGroovy.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushJava.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushJavaFX.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushJScript.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushPerl.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushPhp.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushPlain.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushPowerShell.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushPython.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushRuby.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushSass.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushScala.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushSql.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushVb.js"></script>
		<script type="text/javascript" src="syntaxHighlighter/scripts/shBrushXml.js"></script>
	    
	    <script type="text/javascript">SyntaxHighlighter.all();</script>
	</head>
	
	
	
	<body>
		<div id="info">
				<div id="projectInfo">
					<div id="logo">You Test it !</div>
					<div id="projectDocTitle">
						<div></div>
					</div>
					<div id="projectLink">
						<ul>
							<li><a href="http://www.youtestit.org" title="Home page">www.youtestit.org</a></li>
							<li> 
								<a href="https://github.com/youtestit" target="blank"> 
									Main project
								</a> 
							</li> 
							
							<li> 
								<a href="https://github.com/youtestit/youtestit-documentation" target="blank"> 
									Documentation project
								</a> 
							</li> 
							
							<li> 
								<a href="https://github.com/youtestit/youtestit" target="blank"> 
									YouTestit sources codes project
								</a> 
							</li>
						</ul>
					</div>
				</div>
				
				<div id="sponsors">
				
				</div>
		</div>
	
		<div id="menu">
		
		</div>
	
	
		<div id="doc">
			~<object.children>~
		</div>
	</body>
	
	
</html>
