/*******************************************************************************
* GENERICS
*******************************************************************************/
h1 , h1>a {
    color:#00536C;
}


h2  , h2>a{
    border-bottom: 2px solid;
    color: #55707c;
}

h3, h3>a{
    color: #55707c;
}

a{
    color: #55707c;
    text-decoration: none;
}
a:HOVER{
    text-decoration: underline;
}


/*******************************************************************************
* PROJECT
*******************************************************************************/
#info{
    margin-bottom: 70px;
}

#logo{
    background: url(images/logo.png) no-repeat;
    color: transparent;
    height: 61px;
    width: 210px;
    margin: auto;
}

#projectInfo{
    text-align: center;
}

#projectLink li{
 list-style: none outside none;
}


/*******************************************************************************
* SECTIONS
*******************************************************************************/
.section-level-1{
   margin-top: 25px;
}

.section_level_1_title,
.section_level_1_cornerLeft,
.section_level_1_cornerCenter,
.section_level_1_cornerRight{
    height: 98px;
}

.section_level_1_title{
    background: url(images/img05center.gif);
}

.section_level_1_cornerLeft{
    background: url(images/img05left.gif) no-repeat;
    float: left;
    width: 7px;
}

.section_level_1_cornerCenter{
    float: left;
}

.section_level_1_cornerRight{
    background: url(images/img05right) no-repeat;
    float: right;
    width: 7px;
}


.section_content{
    padding : 16px;
}


.section_content li{
    margin-bottom : 12px;
}

/*******************************************************************************
* LIST
*******************************************************************************/
.positif, .negatif{
    float: left !important;
    height: 17px !important;
    width: 17px !important;
    margin-right: 12px!important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    
}
.positif {
    background: url("images/positif.png") no-repeat !important;
}

.negatif {
    background: url("images/negatif.png") no-repeat !important; 
}


/*******************************************************************************
* CODE
*******************************************************************************/
.code{
    margin: 8px;
}

/*******************************************************************************
* FOOTNOTE
*******************************************************************************/
.footnote{
    color : #D10000;
    font-weight: bold;
    cursor: pointer;
}


/*******************************************************************************
* IMAGES
*******************************************************************************/
.rightArrow, .leftArrow{
   background-position: center center !important;
   color: transparent;
   background-repeat: no-repeat;
}
.rightArrow{
    background-image: url("images/righArrow.png"); 
}

.leftArrow{
    background-image: url("images/leftArrow.png"); 
}

.latex_A{
    font-size: 11px;
    margin-left: -10px;
    margin-top: -24px;
    position: relative;
    top: -3px;
}

.latex_T{
    margin-left: -5px;
}

.latex_E{
    margin-left: -8px;
    position: relative;
    top: 5px;
}

.latex_X{
    margin-left: -7px;
}

.includeIMG{
	background-repeat: no-repeat !important;
	height: 360px;
	width: 240px;
	margin: 12px auto;
	background-size: auto;
}